@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --fonte-principal: 'Playfair Display';
    --fonte-arial: 'Arial';
}

*{
    margin: 0px;
    padding: 0px;   
}

body{  
    background-color: rgb(34, 31, 31);
}

header{
    background-color: rgb(22, 21, 21);
    min-height: 7em;
    max-height: 9.5em;
    border-bottom: 1px solid #ce0e6e;
    box-shadow: 1px 1px 3px #ce0d6dd2;
}

#titulo{
    color: #ce0e6e;
    font-family: var(--fonte-principal);
    text-align: center;
    padding-top: 15px;
    text-shadow: 1px 1px 2px #ce0d6dd2;
}

#subtitulo{
    color: aliceblue;
    font-family: var(--fonte-principal);
    text-align: center;
    margin-top: 5px;

}

#barralateral{
    background-color: white;
    height: 100%;
    width: 30vw;
    position: fixed;
    right: 0;
    
}

.geral{
    display: inline-block;
    border: 0.1em solid #ce0d6dd2;
    padding: 0.8em;
    margin: 0.8em;
    border-radius: 0.8em;
    background-color: rgba(46, 43, 43, 0.1);
}

a:hover{
    zoom: 1.01;
    translate: 0px 0px;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    70% {box-shadow: 0px 0px 20px #ce0e6e} 
}


#sessaoprincipal{
    margin-top: 30px;
    text-align: center;
}

#mapasprincipais{
    
}

#mapasprincipais a p{
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 0.5em;
    font-family: var(--fonte-principal);
}


#mapasprincipais img{
    min-width: 8em;
    max-width: 13em;
    border-radius: 2px;
}


#sessaosecundaria{
    text-align: center;

}


#mapassecundarios{
    
}

#mapassecundarios a p{
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 0.5em;
    font-family: var(--fonte-principal);
}

#mapassecundarios img{
    min-width: 8em;
    max-width: 13em;
    border-radius: 2px;
}


footer{
    text-align: center;
    margin-top: 2em;
    color: whitesmoke;
}

footer p {
    padding: 5px;
}