@charset "UTF-8";

*{
    box-sizing: border-box;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.parent{
    display: flex;
    width: 90vw;
}

.cardativo{
    flex: 5;
}

.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    height: 80vh;
    position: relative;
    margin: 10px;
    transition: flex 0.7 ease-in;
}