@charset 'UTF-8';

@import url('https://fonts.google.com/specimen/Playfair+Display');

:root{

    --cor0: #D5E5F2;
    --cor1: #8FBDD9;
    --cor2: #4E94BF;
    --cor3: #2173A6;
    --cor4: #03588C;

    --fonte-pagina: 'Arial';
    --fonte-padrao: 'Playfair Display';
}

*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(34, 31, 31);  
    color: rgba(245, 245, 245, 0.897);
}

#titulo{
    padding: 15px;
    margin: 25px;
}

#textotitulo{
    font:  100px, var(--fonte-padrao), 
    
}